{% extends "layouts/base.html" %}

{% block title %} Assignment List {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Assignment List</h4>
                <p class="card-category">Here is a list of all assignments</p>
                <p class="card-category">Total Assignments: <span class="badge badge-info">{{ page_obj.paginator.count }}</span></p>
                <form method="get" action="">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <div class="form-group input-group no-border">
                                <label for="q">Search Delegate Name:</label>
                                <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Search...">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group no-border">
                                <label for="page_size">Records per page:</label>
                                <select class="form-control" id="page_size" name="page_size">
                                    <option value="10" {% if page_size == '10' %}selected{% endif %}>10</option>
                                    <option value="20" {% if page_size == '20' %}selected{% endif %}>20</option>
                                    <option value="30" {% if page_size == '30' %}selected{% endif %}>30</option>
                                    <option value="40" {% if page_size == '40' %}selected{% endif %}>40</option>
                                    <option value="50" {% if page_size == '50' %}selected{% endif %}>50</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group no-border">
                                <label for="committee">Filter by Committee:</label>
                                <select class="form-control" id="committee" name="committee">
                                    <option value="">All Committees</option>
                                    {% for committee in committees %}
                                    <option value="{{ committee.committee }}" {% if selected_committee == committee.committee %}selected{% endif %}>{{ committee.committee }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>ID</th>
                            <th>Delegate</th>
                            <th>Committee</th>
                            <th>Country</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for assignment in page_obj %}
                            <tr>
                                <td>{{ assignment.id }}</td>
                                <td>{{ assignment.delegate.name }}</td>
                                <td>{{ assignment.committee }}</td>
                                <td>{{ assignment.country }}</td>
                                <td>
                                    <a href="{% url 'core:assign_delegate' assignment.delegate.id %}" class="btn btn-info btn-sm">Re-Assign</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <span class="current">{{ num }}</span>
                            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                                <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                        
                        <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}